In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

In [36]:
n_samples = 1000

years_car = np.random.choice(8, n_samples) + 1
rate = np.random.choice(25, n_samples) + 5
power = np.random.choice(250, n_samples) + 70
cost_car = np.random.choice(300000, n_samples) + 30000

tax = years_car * rate * power

data = pd.DataFrame({'years_car': years_car, 'rate': rate, 'power': power, 'tax': tax, 'cost_car': cost_car})
data.head(10)

   years_car  rate  power    tax  cost_car
0          3    21    104   6552    303799
1          6    29    259  45066    253386
2          3    17    230  11730    165791
3          6    17    195  19890    224905
4          8    14     97  10864    157115
5          3    27    110   8910     64352
6          8    16    313  40064    309346
7          3    11    113   3729    104532
8          8    23     78  14352    110531
9          4    16    101   6464    271370

In [37]:
from sklearn.metrics import mean_absolute_error

X = data[['years_car', 'rate', 'power']]
y = data['tax']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['years_car', 'rate', 'power']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [3492.86864765  876.28683671   79.5118114 ]
Bias: -31052.66911037202
Error: 3792.3012196241143

In [38]:
y

0       6552
1      45066
2      11730
3      19890
4      10864
5       8910
6      40064
7       3729
8      14352
9       6464
10     26496
11      8878
12      6440
13     12474
14     61824
15      7980
16     18480
17     20400
18      5406
19     28350
20     14742
21     21168
22     14400
23     11970
24      7749
25      6510
26      6579
27     10449
28      9843
29     31840
       ...
970     3840
971    12879
972    13068
973    24576
974    30624
975    24750
976    50764
977    14820
978     7524
979    11858
980     4200
981    26100
982     2424
983    11752
984     4242
985     2384
986    21216
987     2812
988    12530
989    12537
990    16264
991    23856
992    27702
993    34475
994     3010
995    23625
996    14744
997    10260
998     5950
999    16632
Name: tax, Length: 1000, dtype: int64

In [39]:
y - pred_values

0        454.811211
1       9155.579808
2       -880.529678
3       -416.222222
4      -6006.941490
5      -2921.980677
6       4265.933574
7       5679.073276
8      -8894.798604
9       1493.912181
10     -1998.578156
11     -2555.445029
12     -7633.115889
13     -4553.331610
14     18452.428555
15     -7927.538606
16     -2055.792780
17         8.614913
18     -7215.831786
19       254.934083
20     -1582.004007
21     -2628.457367
22     -5044.847587
23     -1653.916242
24     -2383.408234
25       178.566191
26      1999.163273
27     -2893.705094
28       174.407344
29      1601.132727
           ...
970     4669.599951
971    -2849.059436
972    -1372.958252
973      271.286721
974     1313.060154
975      699.414677
976    12236.997997
977    -1928.457694
978       84.075294
979    -3428.356316
980    -2463.416665
981      856.737506
982     7944.796823
983    -4934.195315
984    -2443.825395
985     4075.951177
986    -6567.942588
987     1954.602478
988     -382.304082
989    -1113.810872
990     -319.783017
991    -1862.972723
992     1826.637157
993     3506.590814
994    -2126.123135
995    -3371.132439
996     -249.546789
997      600.372220
998    -5345.853544
999    -6512.090034
Name: tax, Length: 1000, dtype: float64

In [40]:
X = data[['rate', 'power']]
y = data['tax']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['rate', 'power']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [891.27168291  75.66349894]
Bias: -15158.560155016912
Error: 7270.042538439579

In [46]:
# Создаем новый признак (считаем повышающий коэффициент)
data['coefficient'] = data['cost_car'] / data['years_car'] * data['power'] * data['rate'] / 100
data.head(10)

   years_car  rate  power    tax  cost_car   coefficient
0          3    21    104   6552    303799  2.211657e+06
1          6    29    259  45066    253386  3.171970e+06
2          3    17    230  11730    165791  2.160809e+06
3          6    17    195  19890    224905  1.242600e+06
4          8    14     97  10864    157115  2.667027e+05
5          3    27    110   8910     64352  6.370848e+05
6          8    16    313  40064    309346  1.936506e+06
7          3    11    113   3729    104532  4.331109e+05
8          8    23     78  14352    110531  2.478658e+05
9          4    16    101   6464    271370  1.096335e+06

In [47]:
X = data[['coefficient']]
y = data['tax']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['coefficient']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-0.00046838]
Bias: 15937.42251644904
Error: 9872.217271124648